.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 38px;

  gap: 10px;
}
ul li{
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;


}

.countenirDiv{
  margin: 0 auto;
  border: 3px solid white;
  width: 600px;
  height: 600px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  border-radius: 5px ;


}
.headerAll li {
  background-color: red;
  height: 20px;
  width: 100px;
  text-align: center;
  margin-left: auto;



}
.headerAll li:hover{
  background-color: #61dafb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

}

#homeID,#aboutID{
  text-decoration: none;
  color: white;

}

.HomeCss li{
  background-color: red;
  height: 20px;
  width: 150px;
  text-align: center;
  margin-left: auto;
}
.HomeCss li:hover{
  background-color: #61dafb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

}

#CommentsID,#PostsID{
  text-decoration: none;
  color: white
}